<%- include('../layouts/header.ejs') %>

<section class="vh-150 gradient-custom py-2" style="background:url(https://4kwallpapers.com/images/walls/thumbs_3t/8324.png); background-size: cover;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-transparent text-white" style="border-radius: 1rem;">
                    <div class="card-body py-5 text-center">

                        <form class="mb-md-5 mt-md-4 pb-5" action="/login" method="post">
                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <div class="d-flex justify-content-center align-items-center mt-2">
                                <% if(typeof message !=='undefined' ){ %>
                                    <h5 style="color: rgb(255, 0, 0);">
                                        <%= message %>
                                    </h5>
                                    <% } %>
                            </div>
                            <p class="text-white-50 mb-3">Please enter your email and password!</p>
                            
                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="typeEmailX">Email</label>
                                <input type="email"class="form-control form-control-lg bg-transparent text-white" name="email" placeholder="Enter email" required />
                            </div>
                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="typePasswordX">Password</label>
                                <input type="password" id="typePasswordX" class="form-control form-control-lg bg-transparent text-white" name="password" placeholder="Enter password" required />  
                            </div>
                            <button class="btn btn-outline-light btn-lg px-5 mt-5" type="submit" value="Login">Login</button>
                        
                        </form>
                        <div>
                            <p class="mt-5 ">Don't have an account? <a href="/signup" class="text-white-50 fw-bold">Sign Up</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../layouts/footer.ejs') %>